 I got this game when it first came out and was really looking forward to it.  And I wish I could tell you how great it was.  Or even how bad it was.  However, I can't because even though I have Windows 98, this game wouldn't even load up.  I called EA's customer support and they told me that there was nothing they could do.  Since I had already opened the game (as I had planned on keeping it), I was out $50 for nothing but a blank screen. Moral?  Make double sure that your system will run a game before you buy it.  And even then, you're sometimes not out of the woods.     